streamlit==1.37.0
Pillow
numpy
# Try to install tflite_runtime if available, otherwise tensorflow will be used
tflite-runtime==2.14.0; platform_machine != "x86_64"
tensorflow==2.14.0; platform_machine == "x86_64"





